@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Oswald:wght@300;400&family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Oswald', sans-serif;
    border: none;
}
::-webkit-scrollbar{
    display: none;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Oswald';
}
p{
    font-family: 'Poppins';
}
button{
        font-family: 'Poppins', sans-serif;
}
html{
    font-size: 18px ;
}
h1{
    font-size: 2rem;
}
.goog-te-gadget {
    font-family: arial;
    font-size: 11px;
    color: #666;
    white-space: nowrap;
    height: 35px;
    overflow: hidden;
}
.goog-te-gadget .goog-te-combo {
    padding: 5px;
    border-radius: 5px;
}
header{
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(50px);
    position: fixed;
    top:0;
    width: 100vw;
    box-sizing: border-box;
    min-height: 10vh;
}
.headerlogo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.LoginBtns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
 button{
    padding: 10px 30px;
    background-color: #2d0a06;
    color: white;
    font-size: 1rem;
}
.selectLamguage{
    display: flex;
    justify-content: center;
    align-items: center;
}
.heroSection{
    height: 130vh;
    background-color: white;
    overflow: hidden;
    position: relative;
}
.homepage_video{
    position: absolute;
    height: 105%;
    width: 100%;
    z-index: 49;
}
.heroSection{
    display: flex;
    justify-content: center;
    position: relative;
}
.HeroCTA{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 25%;
    transform: scale(1.1);
    z-index: 50;
}
.HeroCTA h1{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: 400;
}
.farmerBullock{
    height: 100px;
    width: 250px;
    background-image: url("./images/BULLOCK.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 82.5%;
    animation: ghodagaadi 20s linear infinite;
}
@keyframes ghodagaadi{
    0%{
        left: 100%;
    }
    100%{
        left: -20%;
    }
}
.OurServices{
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    .title{
        padding-bottom: 10px;
        margin-bottom: 20px;
        border-bottom: 5px solid #d26823 ;
    }
}
.services .serviceOpt{
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    
}
.serviceOpt h2{
    padding-bottom: 15px;
}
.services{
    display: flex;
    justify-content:space-around;
    gap: 100px;
}
.left-polygon,.right-polygon{
    position: absolute;
}
.left-polygon{
    left: 0;
    top: 15%;
}
.right-polygon{
    right: 0;
    top: 15%;
}